.current {
  color: green;
}

body {
    background-color: $white;
}

.badge {
  position: fixed;
  left: -7px;
  top: 19px;
  z-index: 9999;
  background-color: #F70000;
  -webkit-transform: rotate(-45deg) scale(1) skew(0deg) translate(10px);
  -moz-transform: rotate(-45deg) scale(1) skew(0deg) translate(10px);
  -o-transform: rotate(-45deg) scale(1) skew(0deg) translate(10px);
  -ms-transform: rotate(-45deg) scale(1) skew(0deg) translate(10px);
  transform: rotate(-45deg) scale(1) skew(0deg) translate(10px);
  text-align: center;
  color: white;
  padding: 0 .5em;
  border-top: 0px;
  line-height: 20px;
  margin: 0;
}
.badge:after {
    content: ' ';
    position: absolute;
    right: -19px;
    top: 0px;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #F70000;
}
.badge:before {
    content: ' ';
    position: absolute;
    left: -19px;
    top: 0px;
    border-left: 20px solid transparent;
    border-bottom: 20px solid #F70000;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

canvas#radarChart {
          
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}
