---
layout: default
---
<div class="col-12">
<p>{{ page.description }}</p>
{% assign competencies = site.digital-learning-competencies | sort: "category" %}
{% for c in competencies %}
<div class="row">
  <div class="col-12">
  <h2>{{ c.title }}</h2>
  </div>
  </div>
  <div class="row">
  {% for item in c.items %}



      <div class="col-md-3">

        <h3>{{ item.name }}</h3>
      </div>
      <div class="col-md-3">
        <h4>Level 1</h4>
        <p>{{ item.L1 }}</p>
      </div>
      <div class="col-md-3">
        <h4>Level 2</h4>
        <p>{{ item.L2 }}</p>
      </div>
      <div class="col-md-3">
        <h4>Level 3</h4>
        <p>{{ item.L3 }}</p>
      </div>


    {% endfor %}
    </div>
{% endfor %}
</div>
